<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <uses-permission android:name="android.permission.INTERNET" />
        <activity
            android:name="com.app.MainActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.app.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.app.TypesActivity"
            android:label="@string/title_activity_types"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
        </activity>
        <activity
            android:name="com.app.ListActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_list" >
        </activity>
        <activity
            android:name="com.app.EffectivenessActivity"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_effectiveness" >
        </activity>
        <activity
            android:name="com.app.Description"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_description" >
        </activity>
        <activity
            android:name="com.app.Strategies"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_strategies" >
        </activity>
        <activity
            android:name="com.app.Login"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_login" >
        </activity>
        <activity
            android:name="com.app.AddStrategy"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar"
            android:label="@string/title_activity_add_strategy" >
        </activity>
    </application>

</manifest>
